# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
__pycache__/

# Instalações do pip
pip-wheel-metadata/
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Credenciais e configurações sensíveis
secrets.py
config.ini
*.key
*.pem
*.crt